doctype 5
html(lang="en")
    head
        title Arizona Hazards
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="vendor/leaflet/leaflet.css")
        link(rel="stylesheet", href="vendor/leaflet-draw/leaflet.draw.css")
        link(rel="stylesheet", href="styles/base.css")
    body
        .navbar.navbar-fixed-top
            #banner
                h2 Natural Hazards in Arizona
                a(href="http://azgs.az.gov/").azgs-logo
                a(href="http://www.azein.gov/azein/default.aspx").azein-logo
                a(href="http://www.dem.azdema.gov/").adem-logo
                a(href="http://www.fema.gov/").fema-logo
            #nav.navbar-inner
                #geocoder.navbar-search.pull-right
                    span.bold-theme Find Local Hazards:
                    input(type="text", placeholder="Enter an Address").search-query
                ul#menu.nav
                    li.dropdown
                        a(href="#", data-toggle="dropdown").dropdown-toggle Base Layers
                            b.caret
                        ul(id="dropmenu", role="menu", aria-labelledby="baseLayerDropdown").dropdown-menu

        #main-container
            .row-fluid.fill
                #map.span9.fill
                #sidebar.span3.fill
                    #accordion-legend.accordion.navbar
                        .accordion-group
                            ul#layer-list.unstyled
                    #tos
                        p.muted THESE DATA ARE PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THESE DATA OR THE USE OR OTHER DEALINGS IN THESE DATA.
                        p.muted
                            a(rel="license", href="http://creativecommons.org/licenses/by/3.0/deed.en_US")
                                img(alt="Creative Commons License", style="border-width:0", src="http://i.creativecommons.org/l/by/3.0/88x31.png")
                            br
                            | This work is licensed under a
                            br
                            a(rel="license", href="http://creativecommons.org/licenses/by/3.0/deed.en_US") Creative Commons Attribution 3.0 License

        script#navbar-button(type="text/html")
            li
                a(href!="#<%= model.get('id') %>-modal", role="button", data-toggle="modal") <%= model.get('toolName') %>

        script#navbar-modal(type="text/html")
            .modal.hide.fade(id!="<%= model.get('id') %>-modal", role="dialog", aria-labelledby!="<%= model.get('id') %>-header", aria-hidden="true")
                .modal-header
                    h3(id!="<%= model.get('id') %>-header") <%= model.get('modalName') %>
                .modal-body <%= model.get('modalBody') %>
                .modal-footer
                    button.btn(data-dismiss="modal", aria-hidden="true") Cancel
                    button.btn.btn-primary(data-dismiss="modal") Continue

        script#layer-modal(type="text/html")
            .modal.hide.fade(id!="<%= model.get('id') %>-modal", role="dialog", aria-labelledby!="<%= model.get('id') %>-header", aria-hidden="true")
                .modal-header
                    h3(id!="<%= model.get('id') %>-header") <%= model.get('layerName') %>
                .modal-body
                    p <%= model.get('brief') %>

                    table.table
                        tr
                            th Source
                            td <%= model.get('citation') %>
                        tr
                            th Last updated
                            td <%= model.get('lastUpdate') %>

                    h4 Related Information
                    <% if (model.get('links')) { %>
                    ul
                        <% for (i in model.get('links')) { %>
                        li: a(href!="<%= model.get('links')[i].url %>", target="_blank") <%= model.get('links')[i].text %>
                        <% } %>
                    <% } %>

                    hr

                    h4
                        i(id!="<%= model.get('id') %>-details-collapse-icon").icon-chevron-right
                        a(href="#", data-toggle="collapse", data-target!="#<%= model.get('id') %>-details-collapse").info-collapse Further Reading
                    div(id!="<%= model.get('id') %>-details-collapse", class="accordion-body collapse")
                        div(id!="<%= model.get('id') %>-details", class="accordion-inner") <%= model.get('details') %>

                .modal-footer
                    button.btn.btn-primary(data-dismiss="modal") Close

        script#print-tool(type="text/html")
            p This tool allows you to preview and print a static map.  Click 'preview' first to add some customization to your map, like a title.  Click reset at any time to reload this window.
            input(id="title-input",type="text",name="title",placeholder="Enter a title for the map")
            input(id="attrib-input",type="text",name="attrib",placeholder="Enter attribution info")

        script#print-container(type="text/html")
            #print-container
                input(id="title-input",type="text",name="title",placeholder="Type a Title and Press Enter")
                #preview-map-container
                #legend-container
                    h4 Legend

        script#print-legend-items(type="text/html")
            tr(class!="legend-item-" + "<%= model.get('attribute') %>")
                td(class!="legend-image-" + "<%= model.get('attribute') %>")
                td.legend-text <%= model.get("caption") %>

        script#print-legend-template(type="text/html")
            .heading <%= model.get("legendHeading") %>
            table.table
                thead
                    tr
                        th <%= model.legendHeading %>
                tbody.legendItems

        script#basemap-template(type="text/html")
            li(role="presentation")
                a(role!="menuitem",id!="<%= model.get('bingType') %>-toggle",href="#")<%= model.get('layerName') %>

        script#model-template(type="text/html")
            li.navbar-inner
                .onoffswitch.inline
                    input.layerToggle(id!="<%= model.get('id') %>-toggle", type="checkbox").onoffswitch-checkbox
                    label.onoffswitch-label(for!="<%= model.get('id') %>-toggle")
                        .onoffswitch-inner
                        .onoffswitch-switch
                a.layer-info-button(href="#", href!="#<%= model.get('id') %>-modal", role="button", data-toggle="modal") <%= model.get('layerName') %>
            div(id!="<%= model.get('id') %>-legend-collapse", class="accordion-body collapse")
                div(id!="<%= model.get('id') %>-legend", class="accordion-inner")

        script#legend-template(type="text/html")
            .heading <%= model.get("heading") %>
            table.table
                thead
                    tr
                        <% if (model.filterable) { %>
                        th
                        <% } %>
                        th
                        th <%= model.heading %>
                tbody.legendItems

        script#legendItem-template(type="text/html")
            tr(class!="legend-item-" + "<%= model.get('attribute') %>")
                <% if (filter) { %>
                td
                    input.filter(type="checkbox",
                            column!="<%= model.get('attribute') %>" , columnvalue!="<%= model.get('value') %>")
                <% } %>
                td(class!="legend-image-" + "<%= model.get('attribute') %>")
                td.legend-text <%= model.get("caption") %>

        script#quakeImage(type="text/html")
            svg(xmlns="http://www.w3.org/2000/svg", version="1.1",
                    style!="height:<%= 2 * (info.radius + 4) %>px;width:<%= 2 * (info.radius + 4) %>px")
                circle(cx!="<%= info.radius + 4 %>", cy!="<%= info.radius + 4 %>", r!="<%= info.radius %>",
                        stroke!="<%= info.color %>", stroke-width!="2", fill-opacity="0.2", fill!="<%= info.color %>")

        script#quakeIntensityImage(type="text/html")
            svg(xmlns="http://www.w3.org/2000/svg", version="1.1", style="width:24px;height:24px;")
                polygon(points="4,20 12,4 20,20",
                        stroke-width="2", stroke="#F24BE7", fill="#F24BE7", fill-opacity="0.2")

        script#faultImage(type="text/html")
            svg(xmlns="http://www.w3.org/2000/svg", version="1.1", style="width:50px;height:48px;")
                path(d="M 5 40 q 20 -60 40 -20",
                        stroke-width="2", stroke!="<%= info.color %>", fill="none")

        script#fissureImage(type="text/html")
            svg(xmlns="http://www.w3.org/2000/svg", version="1.1", style="width:50px;height:48px;")
                path(d="M 5 40 q 20 -60 40 -20",
                        stroke-width="2", stroke!="<%= info.color %>", fill="none",
                        stroke-dasharray!="<%= info.dashed %>")

        script#floodImage(type="text/html")
            svg.rect(xmlns="http://www.w3.org/2000/svg", version="1.1", style="width:50px;height:50px;")
                rect(width="40", height="40",
                        stroke="none", fill!="<%= info.color %>", fill-opacity="0.6")

        script#fireImage(type="text/html")
            svg.rect(xmlns="http://www.w3.org/2000/svg", version="1.1", style="width:50px;height:30px;")
                rect(y="6", width="40", height="20",
                        stroke="none", fill!="<%= info.color %>", fill-opacity="0.6")

        script#downloadBody(type="text/html")
            #downloadModalBody
                a#download-all(href="#", data-dismiss="modal").btn.btn-danger.tall-button.fixed-width.pull-left
                    span Get All the Data
                    i.icon-hdd.icon-white
                .description
                    p: strong You can download the entire data package:
                    p.muted  This will provide a .zip file containing all the layers visible in this application.
                .clear-fix
                hr

                .pull-left.btn-group.btn-group-vertical(data-toggle="buttons-radio")
                    <% for (i in layers) { %>
                    button.btn.fixed-width.toggler(id!="<%= layers[i].id %>-download-button", type="button"): strong: <%= layers[i].get("layerName") %>
                    <% } %>


                p: strong You can download a single layer:
                p.muted Select a layer from the left, then choose between downloading the whole layer, drawing a box to download a subset of the layer, or simply downloading metadata for the layer.
                .clear-fix
                .for-god-sakes-center-me
                    .btn-group.layer-access
                        a#get-a-layer(href="#", data-dismiss="modal").btn.btn-primary.tall-button
                            span Get the Layer
                            i.icon-hdd.icon-white
                        a#draw-a-box(href="#", data-dismiss="modal").btn.btn-info.tall-button
                            span Draw a Box
                            i.icon-fullscreen.icon-white
                        a#download-metadata(href="#", data-dismiss="modal").btn.tall-button
                            span Get Metadata
                            i.icon-file

        script#localHazards(type="text/html")
            h4 Nearby Natural Hazards
            p.muted Searched for hazards near <%= location %>
            p View suggestions to prepare and protect yourself from natural hazards in your area:
            <% for (var key in result) { if (result.hasOwnProperty(key) && result[key].count > 0) { %>
            p
                span: strong  <%= key %>
                span : 
                  a(href!="<%= result[key].mitigationUrl %>", target="_blank") Mitigation tips
            <% } } %>

        script#defaultPopup(type="text/html")
            table.table.table-striped.table-bordered
                <% for (i in properties) { %>
                tr
                    th <%= properties[i].key %>
                    td <%= properties[i].value %>
                <% } %>

        script(src="http://code.jquery.com/jquery-1.9.1.min.js")
        script(src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js")
        script(src="vendor/leaflet/leaflet.js")
        script(src="vendor/leaflet/leaflet.bing.js")
        script(src="vendor/leaflet-draw/leaflet.draw.js")
        script(src="http://d3js.org/d3.v3.min.js")
        script(src="vendor/leaflet-d3-layer.js")
        script(src="vendor/L.SquareMarker.js")
        script(src="vendor/underscore-min.js")
        script(src="vendor/backbone-min.js")
        script(src="http://cdnjs.cloudflare.com/ajax/libs/openlayers/2.11/OpenLayers.js")
        script(src="vendor/javascript.util.js")
        script(src="vendor/jsts.js")
        script(src="scripts/L.Draw.BoundedRectangle.js")
        script(src="scripts/model-filter.js")
        script(src="scripts/model-legend.js")
        script(src="scripts/view-legend.js")
        script(src="scripts/model-layers.js")
        script(src="scripts/model-tools.js")
        script(src="scripts/view-tools.js")
        script(src="scripts/view-layers.js")
        script(src="scripts/model-geocode.js")
        script(src="scripts/view-geocode.js")
        script(src="scripts/view-print.js")
        script(src="scripts/model-help.js")
        script(src="scripts/view-help.js")
        script(src="scripts/app.js")