doctype 5
html(lang="en")
    head
        title Arizona Hazards
        meta(charset="utf-8")
        link(rel="stylesheet", href="vendor/leaflet/leaflet.css")
        //link(rel="stylesheet", href="http://cdn.leafletjs.com/leaflet-0.6.2/leaflet.css")
        link(rel="stylesheet", href="vendor/leaflet-draw/leaflet.draw.css")
        link(rel="stylesheet", href="styles/base.css")
    body
        .navbar.navbar-fixed-top
            #nav.navbar-inner
                .brand Arizona Hazards Viewer
                #geocoder.navbar-search.pull-right
                    input(type="text", placeholder="Find Location").search-query
                ul#menu.nav
                    li.dropdown
                        a(href="#", data-toggle="dropdown").dropdown-toggle Base Layers
                            b.caret
                        ul(id="dropmenu", role="menu", aria-labelledby="baseLayerDropdown").dropdown-menu

        #main-container.fill
            .row-fluid.fill
                #map.span9.fill                                
                #sidebar.span3.fill
                    #accordion-legend.accordion.navbar
                        .accordion-group
                            ul#layer-list.unstyled

        script#navbar-button(type="text/html")
            li
                a(href!="#<%= model.get('id') %>-modal", role="button", data-toggle="modal") <%= model.get('toolName') %>

        script#navbar-modal(type="text/html")
            .modal.hide.fade(id!="<%= model.get('id') %>-modal", role="dialog", aria-labelledby!="<%= model.get('id') %>-header", aria-hidden="true")
                .modal-header
                    h3(id!="<%= model.get('id') %>-header") <%= model.get('modalName') %>
                .modal-body <%= model.get('modalBody') %>
                .modal-footer
                    button.btn(data-dismiss="modal", aria-hidden="true") Cancel
                    button.btn.btn-primary(data-dismiss="modal") Continue

        script#print-tool(type="text/html")
            p This tool allows you to preview and print a static map.  Click 'preview' first to add some customization to your map, like a title.  Click reset at any time to reload this window.

        script#print-container(type="text/html")
            #print-container
                input(id="title-input",type="text",name="title",value="Type a Title and Press Enter")
                #preview-map-container
                #legend-container
                    p Legend
                    .printmap-table
                    .printmap-legend

        script#basemap-template(type="text/html")
            li(role="presentation")
                a(role!="menuitem",id!="<%= model.get('bingType') %>-toggle",href="#")<%= model.get('layerName') %>

        script#model-template(type="text/html")
            li.navbar-inner
                label.checkbox.inline
                    input.layerToggle(id!="<%= model.get('id') %>-toggle", type="checkbox")
                    a.layer-info-button(href="#", id!="<%= model.get('id') %>-toggle") <%= model.get('layerName') %>
                .pull-right
                    span
                        a(href="#", data-parent="#accordion-legend", id!="<%= model.get('datatarget') %>").icon-list
                    ///
                        span
                            a.icon-info-sign(href="#")
                        span
                            a(href="#")
                                span.icon-adjust
                            span.muted.small-text 100%
            div(id!="<%= model.get('id') %>", class="accordion-body collapse")
                div(id!="<%= model.get('id') %>-legend", class="accordion-inner")

        script#legend-template(type="text/html")
            .heading <%= model.get("heading") %>
            table.table
                thead
                    tr
                        <% if (model.filterable) { %>
                        th
                        <% } %>
                        th
                        th <%= model.heading %>
                tbody.legendItems

        script#legendItem-template(type="text/html")
            tr(class!="legend-item-" + "<%= model.get('attribute') %>")
                <% if (filter) { %>
                td
                    input.filter(type="checkbox",
                            column!="<%= model.get('attribute') %>" , columnvalue!="<%= model.get('value') %>")
                <% } %>
                td(class!="legend-image-" + "<%= model.get('attribute') %>")
                td.legend-text <%= model.get("caption") %>

        script#quakeImage(type="text/html")
            svg(id="circle", xmlns="http://www.w3.org/2000/svg", version="1.1",
                    style!="height:<%= 2 * (info.radius + 4) %>px;width:<%= 2 * (info.radius + 4) %>px")
                circle(cx!="<%= info.radius + 4 %>", cy!="<%= info.radius + 4 %>", r!="<%= info.radius %>",
                        stroke!="<%= info.color %>", stroke-width!="2", fill-opacity="0.2", fill!="<%= info.color %>")

        script#faultImage(type="text/html")
            svg(id="square", xmlns="http://www.w3.org/2000/svg", version="1.1", style="width:50px;height:48px;")
                path(d="M 5 40 q 20 -60 40 -20",
                        stroke-width="2", stroke!="<%= info.color %>", fill="none")

        script#fissureImage(type="text/html")
            svg(id="square", xmlns="http://www.w3.org/2000/svg", version="1.1", style="width:50px;height:48px;")
                path(d="M 5 40 q 20 -60 40 -20",
                        stroke-width="2", stroke!="<%= info.color %>", fill="none",
                        stroke-dasharray!="<%= info.dashed %>")

        script#floodImage(type="text/html")
            svg(id="square", xmlns="http://www.w3.org/2000/svg", version="1.1", style="width:50px;height:50px;")
                path(d="M 5 5 L 45 5 L 45 45 L 5 45 L 5 5",
                        stroke="none", fill!="<%= info.color %>", fill-opacity="0.6")

        script#downloadBody(type="text/html")
            .pull-right.btn-group.btn-group-vertical(data-toggle="buttons-radio")
                <% for (i in layers) { %>
                button.btn(id!="<%= layers[i].id %>-download-button", type="button",
                    style="width:200px;margin-left:10px;"): strong: <%= layers[i].get("layerName") %>
                <% } %>

            p This tool allows you to download shapefiles for data layers in your area of interest.
            p Select the layer you would like to download, then click "Continue".
            p You'll be prompted to draw a box defining an area and your download will begin.

        script#localHazards(type="text/html")
            h3 <%= location %>
            p.muted Searched for hazards within <%= bufferDistance %> meters
            <% for (var key in result) { if (result.hasOwnProperty(key) && result[key].count > 0) { %>
            p
                span Be afraid of
                span: strong  <%= key %>
            <% } } %>


        script(src="http://code.jquery.com/jquery-1.9.1.min.js")
        script(src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/js/bootstrap.min.js")
        script(src="vendor/leaflet/leaflet.js")
        //script(src="http://cdn.leafletjs.com/leaflet-0.6.2/leaflet.js")
        script(src="vendor/leaflet/leaflet.bing.js")
        script(src="vendor/leaflet-draw/leaflet.draw.js")
        script(src="http://d3js.org/d3.v3.min.js")
        script(src="vendor/leaflet-d3-layer.js")
        script(src="vendor/underscore-min.js")
        script(src="vendor/backbone-min.js")
        script(src="http://cdnjs.cloudflare.com/ajax/libs/openlayers/2.11/OpenLayers.js")
        script(src="vendor/javascript.util.js")
        script(src="vendor/jsts.js")
        script(src="scripts/model-filter.js")
        script(src="scripts/model-legend.js")
        script(src="scripts/view-legend.js")
        script(src="scripts/model-layers.js")
        script(src="scripts/model-tools.js")
        script(src="scripts/view-tools.js")
        script(src="scripts/view-layers.js")
        script(src="scripts/model-geocode.js")
        script(src="scripts/view-geocode.js")
        script(src="scripts/view-print.js")
        script(src="scripts/app.js")